## SQLite connection

In [3]:
import sqlite3

# A database named "test.db" is generated in the current directory
con = sqlite3.connect("test.db")

### CREATE: Generate an empty database with 5 variables: ID, NAME, AGE, ADDRESS and SALARY
con.execute("""CREATE TABLE COMPANY
    (ID INT PRIMARY KEY     NOT NULL,
     NAME           TEXT    NOT NULL,
     AGE            INT     NOT NULL,
     ADDRESS        CHAR(50),
     SALARY         REAL)""")

### INSERT: Insert a record into the database
con.execute("""INSERT INTO COMPANY
    VALUES (1, 'Richard', 40, 'Spain', 20000.00)""")

con.execute("""INSERT INTO COMPANY
    VALUES (2, 'Óscar', 25, 'France', 15000.00)""")
con.commit()

### SELECT: Filter from database values
#  The cursor allows you to define a set of results
cursor = con.execute("SELECT * from COMPANY")
for row in cursor: # Itera por todas las filas del filtro resultante
    print(f"ID = {row[0]} NAME = {row[1]} ADDRESS = {row[2]} SALARY = {row[3]}")

# The results can also be stored in a DataFrame using Pandas
import pandas as pd
cursor_df = pd.read_sql_query("SELECT * FROM COMPANY", con)

### UPDATE: Update a database record
con.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
con.commit()

### DELETE: Delete one or more records from the database
con.execute("DELETE from COMPANY where ID = 2")
con.commit()

### Terminate database connection
con.close()

ID = 1 NAME = Richard ADDRESS = 40 SALARY = Spain
ID = 2 NAME = Óscar ADDRESS = 25 SALARY = France

In [ ]:
# Create a SQLite database connection and cursor
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

# Execute an SQL query to retrieve names and ages of all pets
query = "SELECT * FROM COMPANY"
cursor.execute(query)

# Fetch and print the results
results = cursor.fetchall()
print(results)

## Connecting to MySQL

In [ ]:
#!pip install pymysql
import pymysql
con = pymysql.connect(host = "localhost",
    user = "root", 
    password = "pass",
    db = "COMPANY", # Name of the table if we have created it before
)

In [ ]:
con = pymysql.connect(host = "localhost",
    user = "root", 
    password = "pass"
)
cur = con.cursor()

cur.execute("""CREATE TABLE COMPANY
    (ID INT PRIMARY KEY     NOT NULL,
     NAME           TEXT    NOT NULL,
     AGE            INT     NOT NULL,
     ADDRESS        CHAR(50),
     SALARY         REAL)""")

con.select_db("COMPANY")

In [ ]:
### INSERT: Insert a record into the database
cur.execute("""INSERT INTO COMPANY
    VALUES (1, 'Richard', 40, 'Spain', 20000.00)""")

cur.execute("""INSERT INTO COMPANY
    VALUES (2, 'Óscar', 25, 'France', 15000.00)""")
con.commit()

### SELECT: Filter from database values
cur.execute("SELECT * from COMPANY")
rows = cur.fetchall()
for row in rows: # Itera por todas las filas del filtro resultante
    print(f"ID = {row[0]} NAME = {row[1]} ADDRESS = {row[2]} SALARY = {row[3]}")

# También se pueden almacenar los resultados en un DataFrame usando Pandas
import pandas as pd
cursor_df = pd.read_sql("SELECT * FROM COMPANY", con)

### UPDATE: Update a database record
cur.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
con.commit()

### DELETE: Delete one or more records from the database
cur.execute("DELETE from COMPANY where ID = 2")
con.commit()

### Terminate database connection
cur.close()
con.close()

## Connecting to PostgreSQL

In [ ]:
import psycopg2

con = psycopg2.connect(host = "localhost",
    user = "root", 
    password = "pass",
    database = "COMPANY", # Name of the table if we have created it before
)

In [ ]:
con = psycopg2.connect(host = "localhost",
    user = "root", 
    password = "pass"
)
cur = con.cursor()

cur.execute("""CREATE TABLE COMPANY
    (ID INT PRIMARY KEY     NOT NULL,
     NAME           TEXT    NOT NULL,
     AGE            INT     NOT NULL,
     ADDRESS        CHAR(50),
     SALARY         REAL)""")
con.commit()

In [ ]:
### INSERT: Insert a record into the database
cur.execute("""INSERT INTO COMPANY
    VALUES (1, 'Richard', 40, 'Spain', 20000.00)""")

cur.execute("""INSERT INTO COMPANY
    VALUES (2, 'Óscar', 25, 'France', 15000.00)""")
con.commit()

### SELECT: Filter from database values
cur.execute("SELECT * from COMPANY")
rows = cur.fetchall()
for row in rows: # Itera por todas las filas del filtro resultante
    print(f"ID = {row[0]} NAME = {row[1]} ADDRESS = {row[2]} SALARY = {row[3]}")
con.commit()

# También se pueden almacenar los resultados en un DataFrame usando Pandas
import pandas as pd
cursor_df = pd.read_sql("SELECT * FROM COMPANY", con)

### UPDATE: Update a database record
cur.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
con.commit()

### DELETE: Delete one or more records from the database
cur.execute("DELETE from COMPANY where ID = 2")
con.commit()

### Terminate database connection
cur.close()
con.close()